<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promise generator</title>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../../node_modules/notiflix/dist/notiflix-3.2.6.min.css" />
    <script src="../../node_modules/notiflix/dist/notiflix-3.2.6.min.js"></script>
  </head>
  <body>
    <p><a href="../index.html">Go back</a></p>


    <form class="form">
  <label>
    Стартовая задержка в (ms)
    <input type="number" name="delay" required placeholder="например 2000" class="delay"/>
  </label>
  <label>
    Шаг задержки в (ms)
    <input type="number" name="step" required placeholder="например 2000" class="step" />
  </label>
  <label>
    Количество запросов
    <input type="number" name="amount" required placeholder="например 5" class="amound" />
  </label>
  <button type="submit" class="button">Создать промис</button>
</form>

    <script src="../js/03-promises.js" type="module"></script>
  </body>
</html>
