<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dish maker</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <ul class="dish">
        <li><button>Пирожок</button></li>
        <li><button>Коклетка</button></li>
        <li><button>Супик</button></li>
        <li><button>Кашка</button></li>
        <li><button>Пелемешки</button></li>
    </ul>

    <p class="userArea"></p>

    <style>
        ul{
            list-style: none;
        display: flex;
        justify-content: space-around;
        }
    </style>
    <script src="../js/04-dish.js"></script>
</body>
</html>