<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Race</title>
  </head>
  <body>
    <p><a href="../index.html">Go back</a></p>
    <hr>
    <button class="js-race-btn">Следующий заезд</button>
    <hr />
    <p class="winner"></p>
    <p class="progress"></p>
    <hr />
    <table class="js-results-table">
      <thead>
        <tr>
          <th>Заезд</th>
          <th>Победитель</th>
          <th>Время</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <style>
      button{
      padding: 10px;
      font-size: 17px;
      border-radius: 7px;
      background-color: rgba(127, 255, 212, 0.124);
      color: rgb(29, 52, 44);
      }

      button:hover{
        padding: 12px;
      background-color: rgb(217, 187, 247);}

    </style>
    <script src="../js/05-race.js"></script>
  </body>
</html>
